* {
    font-family: 'Times New Roman', Times, serif;

}
body {
    margin: 0%;
    
}
:root { 

    --darkback: #030637;
    --darksubback: #3C0753;
    --darkheadtext: #FB6D48;
    --darktext: #910A67;
    --darkheadback: #720455;
   
    --lightback: #fffff5;
    --lightsubback: #FFFEC4;
    --lightpostback: #fffeaa;
    --lightheadtext: #f74848;
    --lighttext: #5b9e2f;
    --lightposttext: #2e7300;
    --lightheadback: #66ff00;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
header div {
    display: flex;
    align-content: center;
}
h1 {
    font-size: 4rem;
    margin: .2rem;
}
#Theme-checker {
    align-self: center;
    display: inline-block;
    width: 25%;
    height: 25%;
}
#Theme-checker-label {
    align-self: center;
    display: inline-block;
    
    
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;
    padding: .2rem;
    border-radius: 4px;
    margin: 2rem;
    justify-content: flex-start;
    font-size: 3rem;
}
.input-group {
    padding: 1rem;
    flex: 1 0 75%;
}


input {

    width: 100%;
    height: 3rem;
    
    
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 5rem;
}
footer p {
    margin: 0px 10px;
}

/* Dark Theme styling */

.dark {
    background-color: var(--darkback);
    color: var(--darktext);
}
.dark header{
    background-color: var(--darkheadback);
    color: var(--darkheadtext);
}
.dark header a , .dark header a:visited {
    color: var(--darkheadtext);
    text-decoration: none;
    
}
.dark form {

    border: 1rem dashed var(--darkheadtext);
}

.dark input {

    border-radius: 5px;
    color: var(--darktext);
    
    background-color: var(--darksubback);
}

.dark ::placeholder {
    color: var(--darkheadtext);
    opacity: 1;
}

.dark footer a {
    color: var(--darktext);
}

.dark footer a:visited {
    color: var(--darktext)
}

/* Light theme styling */

.light {
    background-color: var(--lightback);
    color: var(--lighttext);
}
.light header{
    background-color: var(--lightheadback);
    color: var(--lightheadtext);
}

.light header a , .light header a:visited {
    color: var(--lightheadtext);
    text-decoration: none;
    
}
.light form {

    border: 1rem dashed var(--lightheadtext);
}

.light input {

    border-radius: 5px;
    color: var(--lighttext);
    
    background-color: var(--lightsubback);
}

.light ::placeholder {
    color: var(--lightheadtext);
    opacity: 1;
}

.light footer a {
    color: var(--lighttext);
}

.light footer a:visited {
    color: var(--lighttext);
}
